<main class="main">
  <h1 class="title">jQuery with Sprockets and ES build</h1>

  <div class="control-box mt-8">
    <h2 class="control-box__label">jQuery bundled with Sprockets</h2>
    <div class="control-box__buttons">
      <button data-js="greetings">
        Click for a greeting
      </button>
      <button data-js="switch-background">
        Click to switch the background color
      </button>
      <button data-js="tooltip" data-tooltip="Hello world!">
        Hover to see tooltip
      </button>
      <script>
        $(document).ready(function () {
          $("[data-js='tooltip']").tooltip()
        })
      </script>
    </div>
  </div>

  <div class="control-box mt-8">
    <h2 class="control-box__label">jQuery bundled with ES build</h2>
    <div class="control-box__buttons">
      <button data-js="greetings-es">
        Click for a greeting
      </button>
      <button data-js="switch-background-es">
        Click to switch the background color
      </button>
      <button data-js="tooltip-es" data-tooltip="Hello world! ES module">
        Hover to see tooltip
      </button>
      <script>
        $(document).ready(function () {
          $("[data-js='tooltip-es']").tooltipEs()
        })
      </script>
    </div>
  </div>
</main>
