:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --font-family: 'sans-serif';
}

body {
  font-family: var(--font-family);
  color: white;
}

button {
  cursor: pointer;
}

.bg-red {
  background-color: pink;
}

.bg-blue {
  background-color: lightblue;
}

.bg-green {
  background-color: lightgreen;
}

.bg-yellow {
  background-color: lightgoldenrodyellow;
}
