:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --font-family: sans-serif;
}

body {
  font-family: var(--font-family);
  color: slategrey;
}

button {
  cursor: pointer;
}

.bg-red {
  background-color: pink;
}

.bg-blue {
  background-color: lightblue;
}

.bg-green {
  background-color: lightgreen;
}

.bg-yellow {
  background-color: lightgoldenrodyellow;
}

.main {
  max-width: 680px;
  margin: 96px auto;
}

.title {
  font-size: 1.75rem;
  font-weight: 600;
  text-align: center;
}

.control-box__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  width: 100%;
}
.control-box__label {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
}

.mt-8 {
  margin-top: 32px;
}
